<div class="container-fluid">
    <div class="row">


        <!-- 1 st column -->
        <div class="col-md-4">
            <h4 class="word px-5" style="margin-left: 15px;"> ABOUT US
                <hr class="hor">
            </h4>
         
            <p class="word1">Building isn’t just a job. At the Construction Company, it is our passion. With every
                project we undertake, we set the bar high and provide the best people in the industry, with a true love
                of what we do to make our Customers’ vision a reality.</p>

        </div>

        <!-- 2 nd column -->
        <div class="col-md-4">
            <h4 class="word">COMPANY LINKS
                <hr class="hor">
            </h4>

            <div class="row">

                <div class="font col-md-6 py-4">

                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test}}</a></div>
                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test1}}</a></div>
                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test2}}</a></div>
                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test3}}</a></div>
                    <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test4}}</a></div>
                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test5}}</a></div>

                </div>

                <div class=" font col-md-6 py-4">

                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test6}}</a></div>
                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test7}}</a></div>
                    <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test8}}</a></div>
                    <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test9}}</a></div>
                    <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test10}}</a></div>
                    <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{test11}}</a></div>

                </div>
            </div>

        </div>

        <!-- 3rd column  -->
        <div class="col-md-4">
            <h4 class="word">CONTACT INFO
                <hr class="hor">

            </h4>

            <div class="row">
                <div class="col-2 py-4">
                    <p class="cont ">{{test12}}</p>
                    <p class="cont py-4">{{test13}}</p>
                    <p class="cont py-1">{{test14}}</p>
                </div>
                <div class="col-md-10  py-4">
                    <p class="cont ">{{test15}}</p>
                    <p class="cont py-1" >{{test16}}</p>
                    <p class="cont py-4">{{test17}}</p>
                </div>
            </div>

            <div class="icon">

                <a href=""><i class="fa-brands fa-facebook-f btn"></i></a>
                <a href=""><i class="fa-brands fa-twitter btn"></i></a>
                <a href=""><i class="fa-brands fa-google-plus-g btn"></i></a>
                <a href=""><i class="fa-brands fa-pinterest btn"></i></a>
                <a href=""><i class="fa-brands fa-dribbble btn"></i></a>
            </div>



        </div>















    </div>


</div>